[Service]
ExecStart=/bin/sh -c 'if dmidecode | grep -qw 'T77O994T01_R02' || dmidecode | grep -qw 'S9500-30XS'; then python3 /usr/lib/python3/dist-packages/platform_utility.py init; fi'
Type=oneshot
RemainAfterExit=yes
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
