[Service]
ExecStart=/bin/bash -c 'if [ $(/opt/vyatta/bin/vyatta-platform-util --what-am-i) = "ufi.s9500-30xs" ]; then python3 /usr/lib/python3/dist-packages/platform_utility.py init; fi'
Type=oneshot
RemainAfterExit=yes
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
